button{
	margin: 10px;
	display: block;
}

progress{
	display: block;
	margin: 15px;
}

div {
	margin: 15px;
	display: inline;
}

span{
	display:inline-block;
	margin: 10px;

}

.harvestTime{
	background-color: #86BA47;
}

#volume, #buy{
	display: block;
	margin: 15px;
}
#popin{
	display: block;
	border: 1px solid black;
	width: 250px;
	height: 110px;
}